<!-- Brand Logo -->
<a href="/" class="brand-link">
  <img src="favicon.ico" alt="Spring Detailing Logo" class="brand-image img-circle elevation-3"
    style="opacity: 0.8" />
  <span class="brand-text font-weight-bold">Spring Detailing</span>
</a>
<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel my-2 d-flex justify-content-center">
    <div class="image">
      <img src="/dist/img/mechanic.png" class="rounded" alt="User Image" />
    </div>
    <div class="info">
      <a id="user-name-sidebar" href="/my-profile.html" class="d-block h5 text-center font-space-grotesk" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Guest</a>
    </div>
  </div>
  <!-- SidebarSearch Form -->
  <!-- <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div> -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/" class="nav-link" id="dashboard">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item" data-id="GET_ALL_HISTORY" hidden>
          <a href="/staff-service-reception" class="nav-link" id="staff-service-reception">
            <i class="nav-icon fa-solid fa-check-to-slot"></i>
            <p>Tiếp nhận xe</p>
          </a>
        </li>

        <li class="nav-item" data-id="GET_ALL_CAR" hidden>
          <a href="/cars" class="nav-link" id="cars">
            <i class="nav-icon fa-solid fa-truck-pickup"></i>
            <p>Danh sách xe</p>
          </a>
        </li>

        <li class="nav-item" data-id="GET_ALL_USER" hidden>
          <a href="/customer-list" class="nav-link" id="customer-list">
            <i class="nav-icon fa-solid fa-users-line"></i>
            <p>Hồ sơ khách hàng</p>
          </a>
        </li>

        <li class="nav-item" data-id="CUSTOMER" hidden>
          <a href="/service-history" class="nav-link" id="service-history">
            <i class="nav-icon fa-regular fa-rectangle-list"></i>
            <p>Lịch sử dịch vụ</p>
          </a>
        </li>

        <li class="nav-item" data-id="GET_ALL_APPOINTMENT" hidden>
          <a href="/appointment" class="nav-link" id="appointment">
            <i class="nav-icon fa-regular fa-calendar-check"></i>
            <p>Quản lý đặt hẹn</p>
            <!-- <span class="badge badge-info right">6</span> Hiển thị số lượng thông báo-->
          </a>
        </li>

        <li class="nav-item" data-id="CUSTOMER" hidden>
          <a href="/customer-appointment" class="nav-link" id="customer-appointment">
            <i class="nav-icon fa-regular fa-calendar-check"></i>
            <p>Đặt lịch hẹn</p>
          </a>
        </li>

        <li class="nav-item nav-parent" hidden>
          <a href="#" class="nav-link" id="category-management">
            <i class="nav-icon fa-solid fa-gears"></i>
            <p>
              Quản lý danh mục
              <i class="fas fa-angle-left right"></i>
              <!-- <span class="badge badge-info right">6</span> Hiển thị số lượng thông báo-->
            </p>
          </a>
          <ul class="nav nav-treeview pl-2 sidebar-ul">
            <li class="nav-item" data-id="EDIT_MODEL_LIST" hidden>
              <a
                href="/brand-model-management"
                class="nav-link"
                id="category-management_brand-model-management"
              >
              <i class="nav-icon fa-solid fa-database"></i>
                <p>Danh mục mẫu xe</p>
              </a>
            </li>
            <li class="nav-item" data-id="GET_ALL_OPTION" hidden>
              <a
                href="/option-list"
                class="nav-link"
                id="category-management_option-list"
              >
              <i class="nav-icon fa-solid fa-list-ol"></i>
                <p>Danh mục option</p>
              </a>
            </li>
            <li class="nav-item" data-id="GET_ALL_SERVICES" hidden>
              <a
                href="/service-list"
                class="nav-link"
                id="category-management_service-list"
              >
              <i class="nav-icon fa-solid fa-check-to-slot"></i>
                <p>Danh mục dịch vụ</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-parent" hidden>
          <a href="#" class="nav-link" id="user-management">
            <i class="nav-icon fa-solid fa-users-line"></i>
            <p>
              Quản lý người dùng
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview pl-2 sidebar-ul">
            <li class="nav-item" data-id="GET_ALL_USER" hidden>
              <a
                href="/user-list"
                class="nav-link"
                id="user-management_user-list"
              >
              <i class="nav-icon fa-solid fa-address-book"></i>
                <p>Danh sách hồ sơ</p>
              </a>
            </li>
            <li class="nav-item" data-id="GET_ALL_ACCOUNT" hidden>
              <a
                href="/account-list"
                class="nav-link"
                id="user-management_account-list"
              >
              <i class="nav-icon fa-solid fa-id-card"></i>
                <p>Danh sách tài khoản</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-parent" hidden>
          <a href="#" class="nav-link" id="system-management">
            <i class="nav-icon fa-solid fa-screwdriver-wrench"></i>
            <p>
              Quản lý hệ thống
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview pl-2 sidebar-ul">
            <li class="nav-item" data-id="EDIT_ROLE" hidden>
              <a
                href="/role-management"
                class="nav-link"
                id="system-management_role-management"
              >
              <i class="nav-icon fa-solid fa-users-gear"></i>
                <p>Quản lý phân quyền</p>
              </a>
            </li>
            <li class="nav-item" data-id="GET_ALL_PARAM" hidden>
              <a
                href="/common-parameter"
                class="nav-link"
                id="system-management_common-parameter"
              >
              <i class="nav-icon fa-solid fa-sliders"></i>
                <p>Tham số chung</p>
              </a>
            </li>
           
          </ul>
        </li>

        <li class="nav-item" data-id="STATISTICS" hidden>
          <a href="/history-statistics.html" class="nav-link" id="history-statistics">
            <i class="nav-icon fa-solid fa-chart-line"></i>
            <p>Thống kê đơn dịch vụ</p>
          </a>
        </li>

        <li class="nav-item" id="my-profile-nav" hidden>
          <a href="/my-profile.html" class="nav-link" id="my-profile">
            <i class="nav-icon fa-regular fa-address-card"></i>
            <p>Hồ sơ cá nhân</p>
          </a>
        </li>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
<script type="module" src="/include/sidebar.js"></script>